{
    "arrowParens": "avoid",
    "semi": false,
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "ignore",
    "trailingComma": "none",
    "proseWrap": "preserve",
    "useEditorConfig": false
}
