:global(.app-warp) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 15px 20px;

    :global(.arco-card) {
        :global(.arco-card-cover) {
            img {
                width: 100%;
                transition: all 0.3s;
                object-fit: cover;
            }
        }

        &:hover {
            :global(.arco-card-cover) {
                img {
                    filter: brightness(0.8);
                    transform: scale(1.1);
                }
            }
        }
    }
}
