:global(.app-warp) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 15px 20px;

    :global(.arco-card) {
        cursor: pointer;
    }
}
