@import 'var.less';
@import 'reset.less';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: @textSize2;
    color: @textColor2;
    background-color: @bgColor1;
}
